@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

body {
  font-family: 'Heebo', sans-serif;
  background-color: #fafafa;
  direction: rtl;
}

h1 {
  font-weight: 900;
  font-size: 64px;
  letter-spacing: -1.5px;
  line-height: 80px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.48);
  
  margin: 0;
  padding: 0 20px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1.6775px;
  
  margin: 0;
  padding: 0 20px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24;
  
  margin: 0;
  padding: 0 20px;
}

:root {
  --red: #ed0000;
  --dark-red: #bd0728;
  --orange: #e89024;
  --light-orange: #f3ad54;
  --black: #222221;
  --blue: #1d55d0;
  --dark-blue: #22395f;
  --dark-gray: #2f4858;
  --light-blue: #f4f8fe;
  --silver: #f2f2f2;
  --twitter: #222221;
  --facebook: #3d5a96;
  --whatsapp: #2ab858;
  --link: #1d55d0;
  --email: #222221;
  --gray: #24263d;
  --yellow: #eec02d;
  --green: #00a64c;
}